{% macro button(text, className='', outline=False, selected=False) %}
  {% set classes = classlist(className) %}
  {% if outline %}{{ classes.add("box-outline") }}{% endif %}
  {% if selected %}{{ classes.add("selected") }}{% endif %}
  <button-component {{ classes }} {{ kwargs|xmlattr }}>
    {{ text }}
  </button-component>
{% endmacro %}


{% macro modal(title='', visible=False, className='', close_callback='', content_width='50%') %}
  {% set classes = classlist(className, "modal") %}
  {% if visible %}
    {{ classes.add("visible") }}
  {% else %}
    {{ classes.add("hidden") }}
  {% endif %}
  <div {{ classes }} {{ kwargs|xmlattr }}>
    {% if title %}<p>{{ title }}</p>{% endif %}
    <div style="width: {{ content_width }};" class="modal-content">{{ caller() }}</div>
    {{ button('close', onclick=close_callback) }}
  </div>

{% endmacro %}


{% macro toggle_modal_options(title='', description='', input_id='') %}
  <div class="toggle-modal-options">
    <div class="toggle-modal-left">
      <div class="toggle-modal-title">{{ title }}</div>
      {% if description %}<div class="toggle-modal-description">{{ description }}</div>{% endif %}
    </div>
    <label class="modal-toggle-button">
      <input id="{{ input_id }}" type="checkbox" {{ kwargs|xmlattr }}>
      <div>
        <span></span>
      </div>
    </label>
  </div>
{% endmacro %}


{% macro input_modal_options(title='', description='', input_id='', type='text') %}
  <div class="input-modal-options">
    <div class="input-modal-left">
      <div class="input-modal-title">{{ title }}</div>
      {% if description %}<div class="input-modal-description">{{ description }}</div>{% endif %}
    </div>
    <input id="{{ input_id }}" type="{{ type }}" {{ kwargs|xmlattr }}>
  </div>
{% endmacro %}
