{% macro button(text, className='', outline=False, selected=False) %}
  {% set classes = classlist(className) %}
  {% if outline %}{{ classes.add("box-outline") }}{% endif %}
  {% if selected %}{{ classes.add("selected") }}{% endif %}
  <button-component class="{{ classes }}" {{ kwargs|xmlattr }}>
    {{ text }}
  </button-component>
{% endmacro %}


{% macro modal(title='', visible=False, className='', content_width='50%') %}
  {% set classes = classlist(className, "modal") %}
  {% if visible %}
    {{ classes.add("visible") }}
  {% else %}
    {{ classes.add("hidden") }}
  {% endif %}

  <div class="{{ classes }}" {{ kwargs|xmlattr }}>
    {% if title %}<p class="modal-title">{{ title }}</p>{% endif %}
    <div style="width: {{ content_width }};" class="modal-content">{{ caller() }}</div>
    {{ button('close', className='js-modal-close') }}
  </div>
{% endmacro %}


{% macro toggle_modal_options(title='', description='', input_id='') %}
  <div class="toggle-modal-options">
    <div class="toggle-modal-left">
      <div class="toggle-modal-title">{{ title }}</div>
      {% if description %}<div class="toggle-modal-description">{{ description }}</div>{% endif %}
    </div>
    <label class="modal-toggle-button">
      <input id="{{ input_id }}" type="checkbox" {{ kwargs|xmlattr }}>
      <div>
        <span></span>
      </div>
    </label>
  </div>
{% endmacro %}


{% macro input_modal_options(title='', description='', input_id='', type='text') %}
  <div class="input-modal-options">
    <div class="input-modal-left">
      <div class="input-modal-title">{{ title }}</div>
      {% if description %}<div class="input-modal-description">{{ description }}</div>{% endif %}
    </div>
    <input id="{{ input_id }}" type="{{ type }}" {{ kwargs|xmlattr }}>
  </div>
{% endmacro %}


{% macro tabs(id, titles) %}
  <div class="tabs-container" id="{{ id }}">
    <div class="tab-buttons">
      {% for title in titles %}
        <button class="tab-button {% if loop.first %}active{% endif %}" data-tab="{{ loop.index0 }}">
          {{ title }}
        </button>
      {% endfor %}
    </div>
    <div class="tab-content">{{ caller() }}</div>
  </div>
{% endmacro %}


{% macro select_modal_options(title='', input_id='', presets=[]) %}
  <div class="input-modal-options">
    <div class="input-modal-left">
      <div class="input-modal-title">{{ title }}</div>
      <div class="input-modal-description" id="{{ input_id }}-desc">
        {{ presets[0].description if presets else 'Select an option' }}
      </div>
    </div>
    <select id="{{ input_id }}" {{ kwargs|xmlattr }}>
      {% for preset in presets %}
        <option value="{{ preset.value }}" data-desc="{{ preset.description }}">{{ preset.title }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}
