{% from '_helpers.html' import button, modal, toggle_modal_options, input_modal_options with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hewwo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/modal.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/awm.css') }}" />
    <script src="{{ url_for('static', filename='scripts/dist/webpack.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </head>

  <body>
    <header>
      hewwo
    </header>

    <div id="main-toolbox">
      <div id="logo-area">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Youtube_Music_icon.svg/2048px-Youtube_Music_icon.svg.png"
             alt="logo"
             width="64"
             height="64" />
        <p>ytdlp frontend test</p>
      </div>
      <div id="download-area">
        <input autocomplete="off"
               type="text"
               id="url-input"
               oninput="checkInput(this)"
               placeholder="https://www.youtube.com/watch?v=..." />
        <div id="custom-button-area">
          <div class="av-wrapper" data-value="video">
            {{ button('video', onclick='videoSwitch()', selected=True, id='video-switch') }}
            {{ button('audio', onclick='audioSwitch()', id='audio-switch') }}
          </div>
          {{ button('download',
                    onclick="handleSubmit()",
                    id='download-button',
                    outline=True) 
          }}
        </div>
      </div>
    </div>
    {% call modal('settings', True, id='settings-modal', content_width='45%', close_callback="toggleModal('settings')") %}
      {{ toggle_modal_options(title='Use FFMpeg', input_id='use-ffmpeg', description='If disable, you can only download low-quality video, or HQ video without audio for Y*utube') }}
      {{ input_modal_options(title='yt-dlp format selection', input_id='ytdl-fsl', description='You can check out yt-dlp documentation for more info') }}
      {#
      {{ toggle_modal_options(title='test', input_id='testInput') }}
      {{ input_modal_options(title='test', input_id='testInput') }}
      {{ input_modal_options(title='test', input_id='testInput') }}
      {{ input_modal_options(title='test', input_id='testInput') }}
      {{ input_modal_options(title='test', input_id='testInput') }}
      {{ input_modal_options(title='test', input_id='testInput') }}
      {{ input_modal_options(title='test', description='testdescription', input_id='testInput') }} #}
    {% endcall %}
    {% call modal('about', id='about-modal', close_callback="toggleModal('about')") %}
      <p>hello</p>
    {% endcall %}
    <footer>
      {{ button('about', onclick="toggleModal('about')", outline=True) }}
      {{ button('donate', onclick="toggleModal('about')", outline=True) }}
      {{ button('settings', onclick="toggleModal('settings')", outline=True) }}
    </footer>
  </body>

</html>
