{% from '_helpers.html' import button, popup_panel with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hewwo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/awm.css') }}" />
    <script src="{{ url_for('static', filename='scripts/dist/webpack.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </head>

  <body>
    <header>
      hewwo
    </header>

    <div id="main-toolbox">
      <div id="logo-area">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Youtube_Music_icon.svg/2048px-Youtube_Music_icon.svg.png"
             alt="logo"
             width="64"
             height="64" />
        <p>ytdlp frontend test</p>
      </div>
      <div id="download-area">
        <input autocomplete="off"
               type="text"
               id="url-input"
               oninput="checkInput(this)"
               placeholder="https://www.youtube.com/watch?v=..." />
        <div id="custom-button-area">
          <div class="av-wrapper" data-value="video">
            {{ button('video', onclick='videoSwitch()', selected=True, id='video-switch') }}
            {{ button('audio', onclick='audioSwitch()', id='audio-switch') }}
          </div>
          {{ button('download',
                    onclick="submitWrapper()",
                    id='download-button',
                    outline=True) 
          }}
        </div>
      </div>
    </div>
    {% call popup_panel('settings', True, id='settings-popup', close_callback="togglePopup('settings')") %}
      <p>hello</p>
    {% endcall %}
    {% call popup_panel('about', id='about-popup', close_callback="togglePopup('about')") %}
      <p>hello</p>
    {% endcall %}
    <footer>
      {{ button('about', onclick="togglePopup('about')", outline=True) }}
      {{ button('donate', onclick="togglePopup('about')", outline=True) }}
      {{ button('settings', onclick="togglePopup('settings')", outline=True) }}
    </footer>
  </body>

</html>
