@keyframes awn-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes awn-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes awn-slide-right {
    from {
        opacity: 0;
        left: 100%;
    }

    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes awn-slide-left {
    from {
        opacity: 0;
        right: 100%;
    }

    to {
        opacity: 1;
        right: 0;
    }
}

@keyframes awn-bar {
    from {
        right: 100%;
    }

    to {
        right: 0;
    }
}



#awn-toast-container {
    position: fixed;
    z-index: 99998;
    bottom: 24px;
    right: 24px;
    box-sizing: border-box;
}

[class^=awn-] {
    box-sizing: border-box;
}

.awn-toast {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    width: 320px;
    background: hsl(0deg, 0%, 92%);
    margin-top: 16px;
    border-radius: 6px;
    color: hsl(0deg, 0%, 50%);
    font-size: 14px;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.awn-toast.awn-hiding {
    animation-name: awn-fade-out !important;
}

#awn-toast-container.awn-bottom-right .awn-toast.awn-hiding {
    left: 0;
}

#awn-toast-container.awn-bottom-right .awn-toast {
    left: 100%;
    animation-name: awn-slide-right;
}

.awn-toast-wrapper {
    padding: 16px;
    border: 2px solid hsl(0deg, 0%, 82%);
    border-radius: 6px;
}

.awn-toast-label {
    display: none;
}

.awn-toast-content {
    word-break: break-word;
}

.awn-toast-icon {
    position: absolute;
    right: 16px;
    top: 6px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.awn-toast-icon .fa {
    font-size: 44px;
    color: hsl(0deg, 0%, 50%);
}

.awn-toast.awn-toast-success .awn-toast-wrapper {
    border-color: hsl(100deg, 45%, 70%);
}

.awn-toast-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
}

.awn-toast.awn-toast-success b, .awn-toast.awn-toast-success .fa {
    color: hsl(100deg, 65%, 32%);
}

.awn-toast.awn-toast-success {
    background: hsl(100deg, 74%, 90%);
    color: hsl(100deg, 65%, 32%);
}

.awn-toast.awn-toast-success .awn-toast-progress-bar:after {
    background: hsl(100deg, 65%, 32%);
}

.awn-toast-progress-bar:after {
    content: " ";
    background: hsl(0deg, 0%, 50%);
    position: absolute;
    width: 100%;
    right: 100%;
    top: 0;
    height: 6px;
    animation-name: awn-bar;
    animation-duration: inherit;
    animation-timing-function: linear;
    animation-fill-mode: both;
}